body {
    background: url("titanic_body3.jpg") no-repeat center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}


header { 
    width: 100%;
    height: 100px;
 	background-color: #00ffffff;
    border-radius: 5px;
    border: 0px solid grey;
    text-align: left;
    margin: 0px;
    padding: 0px;
}

header:hover{
   background-color: #333333;
   color: #ffffff;
}

article {
    color: #ffffff;
    background-color: #00ffffff;
    width: 100%;
    height: 1200px;
}

.postSinopsis {
    font-size: 18px;
    padding: 0px;
}

.articleContainer1 {
    color: #ffffff;
    border: 0px solid grey;
    border-radius: 5px;    
    text-align: justify;
    margin-top: 3px;
    padding: 0px 20px;
}

.articleContainer1 img {
    float: left;
    width: 160px;
    height: 240px;
    border-radius: 5px;
    margin: 20px 15px 5px 0px;
    padding: 0px;
}


.articleContainer1 aside ul li a {
    display: inline-block;
    padding: 0px 20px 0px 20px;
    margin-left: 15px;
    color: #ffffff;
    background-color: #000000;
    opacity: 0.7;
    border: 2px solid #ccc;
    border-radius: 5px;   
    box-shadow: 4px 3px 3px #ccc; 
    text-decoration: none;  
}

.articleContainer1 a:hover{
   background-color: #333333;
   color: #ffffff;
}



.articleContainer2 {
    border-radius: 5px;    
    text-align: justify;
    padding-left: 20px;
    border: 3px solid grey;
    margin-top: 3px;

}

.articleContainer2 img {
    opacity: 0.7;
    float: right;
    width: 110px;
    height: 150px;
    border-radius: 5px;
    margin: 80px 10px 5px 5px;
}

.articleContainer2 aside ul li a {
    display: inline-block;
    padding: 0px 20px 0px 20px;
    margin-left: 20px;
    color: #ffffff;
    background-color: #000000;
    opacity: 0.7;
    border: 2px solid #ccc;
    border-radius: 5px;   
    box-shadow: 4px 3px 3px #ccc; 
    text-decoration: none;  
}

.articleContainer2 a:hover{
   background-color: #333333;
   color: #ffffff;
}

.articleContainer3 {
    border-radius: 5px;    
    text-decoration: none;
    margin-top: 3px;
    padding-left: 20px;
    border: 3px solid grey;

}

.articleContainer3 img {
    float: left;
    width: 75px;
    height: 90px;
    border-radius: 90px;
    margin: 0px 5px 10px 30px;
    
}

.articleContainer3 ul li a {
    display: inline-block;
    padding: 2px 15px 2px 15px;
    margin: 0px 20px 8px 0px;
    color: #ffffff;
    background-color: #000000;
    opacity: 0.7;
    border: 2px solid #ccc;
    border-radius: 5px;   
    box-shadow: 3px 2px 2px #ccc; 
    text-decoration: none; 
    position: center; 
}

.articleContainer3 a:hover{
   background-color: #333333;
   color: #ffffff;
}



.horizontal li {
display: inline;
float: left;
padding: 0px;
margin: 0px;
text-align: center;
text-decoration: none;
}

footer { 
    width: 100%;
    height: 50px;
    background-color: grey;
    border-radius: 5px;
    font-family: "New Times Roman", serif;
    font-size: 12px;
    font-style: italic;
    margin: 0px;
    padding: 0px;
}

footer p {
    padding-top: 15px;
    margin-top: 15px;
    text-align: center;
}






